
@{
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
}

@if (TempData["update-msg"] != null)
{
    <div class="alert alert-success small" role="alert">
        @TempData["update-msg"]
    </div>
}
else{
    <br />
}


<h1>Seller</h1>
