
@{
    ViewBag.Title = "Sold";
    Layout = "~/Views/Shared/_sellerLayout.cshtml";
}

<h2>Sold Products</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">Unit</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Samsung Phone</td>
            <td>2</td>
            <td>88000</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Panasonic TV</td>
            <td>1</td>
            <td>75000</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Sharp Fridge</td>
            <td>1</td>
            <td>42000</td>
        </tr>
    </tbody>
</table>
